@font-face {
  font-family: "iconfont"; /* Project id 4109034 */
  src: url('iconfont.woff2?t=1686120936008') format('woff2'),
       url('iconfont.woff?t=1686120936008') format('woff'),
       url('iconfont.ttf?t=1686120936008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e646";
}

.icon-left-open:before {
  content: "\e662";
}

.icon-right-open:before {
  content: "\e66e";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-max:before {
  content: "\e603";
}

.icon-min:before {
  content: "\e605";
}

.icon-menu:before {
  content: "\e6f3";
}

.icon-xianshiqi:before {
  content: "\e600";
}

.icon-neicun:before {
  content: "\e63e";
}

.icon-Computer:before {
  content: "\e62f";
}

.icon-CPU:before {
  content: "\e64a";
}

.icon-computer:before {
  content: "\e6bf";
}

.icon-xingzhuang:before {
  content: "\e60d";
}

.icon-financial_hard_disk:before {
  content: "\e607";
}

.icon-shengka:before {
  content: "\e60c";
}

.icon-hardware-chip-outline:before {
  content: "\e7de";
}

.icon-wangka:before {
  content: "\e61c";
}

