:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #777777;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{
  /* 默认配置 */
  color: #777777;
}

body {
  margin: 0;
}

ul,li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li > ul > li{
  list-style: circle;
  /* padding-left: 5px; */
  margin-left: 25px;
}
